body {
    background-color: #fff;
    color: #303030;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Noto Sans", Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    padding: 24px;
}

.special-text {
    color: #dd2b0e;
    font-weight: 500;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #1f1f1f;
        color: #fafafa;
    }
    
    .special-text {
        color: #ff6347;
    }
}
