body {
    background-color: #222;
    color: #eee;

    width: 24rem;
    min-height: 20rem;
    padding: 1rem;
    margin: 0;
}

button {
    width: 100%;
    padding: 8px;
    margin-top: 10px;
}

.row {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.input-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 8px;
    margin-bottom: 5px;
}

.input-container.column {
    flex-direction: column;
    align-items: start;
}

.input-container.column textarea {
    width: 100%;
    resize: none;
    height: 150px;
}

.input-container.column label {
    padding-bottom: 5px;
    margin-bottom: 5px;
}

.input-container label {
    flex: 2;
    min-width: 0;
    margin-right: 8px;
    font-size: 14px;
}

.input-container input {
    flex: 2;
    padding: 4px 8px;
    border-radius: 4px;
    border: 1px solid #555;
    background-color: #333;
    color: #eee;
    min-width: 0;
}

.input-container input[type="checkbox"] {
    flex: 0 0 auto;
    width: auto;
    margin: 0;
}

.title {
    margin: 0 0 1rem 0;
    text-align: center;
    font-size: 18px;
}

#notif {
    margin-top: 10px;
    min-height: 2rem;
}
