body {
    background-color: #222;
    color: #eee;

    width: 16rem;
    height: 4rem;
}

button {
    width: 100%;
}

.row {
    display: flex;
    flex-direction: column;
}

.input-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 5px;
    margin-bottom: 5px;
}

.input-container.column {
    flex-direction: column;
    align-items: start;
}

.input-container.column textarea {
    width: 100%;
    resize: none;
    height: 150px;
}

.input-container.column label {
    padding-bottom: 5px;
    margin-bottom: 5px;
}

.input-container label {
    flex: 4;
}

.input-container input {
    flex: 1;
}
