body {
    background-color: #222;
    color: #eee;

    width: 16rem;
    height: 4rem;
}

button {
    width: 100%;
}

.row {
    display: flex;
    flex-direction: column;
}

.input-container {
    display: flex;
    align-items: center;
}

.input-container label {
    margin-right: 12px;
}

.input-container input {
    flex: 1;
}
